
*all-mpnet-base-v2*
*flan-t5-base-VG-factual-sg*
detail_caption_construction/LLaVA
capture/FactualSceneGraph
detail_caption_construction/*data
detail_caption_construction/*stage*
detail_caption_construction/scripts_output/*
check.py
*__pycache__*
opensource_git_commit.log
sensitive_info_result.txt

*FactualSceneGraph*
capture/README.md
capture/dist
capture/*.egg-info
capture/build
